<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SamplerCommunicator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SamplerCommunicator.Properties.Settings>
            <setting name="MySize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MyLoc" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="MyState" serializeAs="String">
                <value>Normal</value>
            </setting>
          <setting name="MyOldColumnNameSetting" serializeAs="String">
            <value>0</value>
          </setting>          
        </SamplerCommunicator.Properties.Settings>
    </userSettings>
</configuration>